easyocr==1.7.2
ninja==1.11.1.3
opencv-python-headless==4.11.0.86
absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiolimiter==1.2.1
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
appdirs==1.4.4
athina==1.7.29
attrs==25.3.0
Authlib==1.3.1
backoff==2.2.1
bandit==1.8.3
beautifulsoup4==4.13.3
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chromadb-client==0.5.23
click==8.1.8
cmudict==1.0.32
cohere==5.14.0
colorama==0.4.6
colorlog==6.9.0
cryptography==44.0.2
dataclasses-json==0.6.7
datasets==2.21.0
Deprecated==1.2.18
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
docker-pycreds==0.4.0
editdistance==0.8.1
emoji==2.14.1
et_xmlfile==2.0.0
fastapi==0.115.11
fastavro==1.10.0
filelock==3.18.0
filetype==1.2.0
frozenlist==1.5.0
fsspec==2024.6.1
gitdb==4.0.12
GitPython==3.1.44
googleapis-common-protos==1.69.1
gql==3.5.2
graphql-core==3.2.4
greenlet==3.1.1
groq==0.19.0
grpcio==1.71.0
grpcio-health-checking==1.71.0
grpcio-tools==1.71.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.29.3
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.20
langchain-cohere==0.4.3
langchain-community==0.3.19
langchain-core==0.3.45
langchain-groq==0.2.5
langchain-openai==0.3.8
langchain-text-splitters==0.3.6
langsmith==0.3.15
litellm==1.59.6
llama-cloud==0.1.14
llama-cloud-services==0.6.5
llama-index==0.11.23
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.23
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.6.0
llama-index-legacy==0.9.48.post4
llama-index-llms-openai==0.2.16
llama-index-multi-modal-llms-openai==0.2.3
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.3.0
llama-index-readers-llama-parse==0.3.0
llama-index-vector-stores-pinecone==0.3.1
llama-index-vector-stores-qdrant==0.3.3
llama-parse==0.6.4.post1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
marvin==2.3.8
mdurl==0.1.2
monotonic==1.6
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
openai==1.66.3
openpyxl==3.1.5
opentelemetry-api==1.31.0
opentelemetry-exporter-otlp-proto-common==1.31.0
opentelemetry-exporter-otlp-proto-grpc==1.31.0
opentelemetry-proto==1.31.0
opentelemetry-sdk==1.31.0
opentelemetry-semantic-conventions==0.52b0
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
partialjson==0.1.0
pbr==6.1.1
pillow==11.1.0
pinecone-client==4.1.2
pinecone-plugin-interface==0.0.7
pip==25.0
platformdirs==4.3.6
ply==3.11
portalocker==2.10.1
posthog==3.20.0
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==5.29.3
psutil==7.0.0
pyarrow==19.0.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydantic-settings==2.8.1
Pygments==2.19.1
pypdf==5.4.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
pywin32==309
PyYAML==6.0.2
qdrant-client==1.13.3
ragas==0.2.14
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
RestrictedPython==7.4
retrying==1.3.4
rich==13.9.4
rouge==1.0.1
rouge_score==0.1.2
rpds-py==0.23.1
scikit-learn==1.6.1
scipy==1.15.2
sentry-sdk==2.22.0
setproctitle==1.3.5
setuptools==75.8.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.39
starlette==0.46.1
stevedore==5.4.1
striprtf==0.0.26
tenacity==8.5.0
textdistance==4.6.3
textstat==0.7.5
threadpoolctl==3.6.0
tiktoken==0.8.0
timeout-decorator==0.5.0
tokenizers==0.19.1
tqdm==4.67.1
typer==0.15.2
types-PyYAML==6.0.12.20241230
types-requests==2.32.0.20250306
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2025.1
urllib3==2.3.0
uuid_utils==0.10.0
uvicorn==0.34.0
validators==0.34.0
voyageai==0.3.2
wandb==0.19.8
wcwidth==0.2.13
weave==0.51.36
weaviate-client==4.11.1
wheel==0.45.1
wrapt==1.17.2
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.2
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.43.0
zipp==3.19.2
